[Desktop Entry]
Name=Termubit Core
Comment=Connect to the Termubit P2P Network
Comment[de]=Verbinde mit dem Termubit peer-to-peer Netzwerk
Comment[fr]=Termubit, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Termubit, eşten eşe kriptografik sanal para birimi
Exec=dogecoin-qt %u
Terminal=false
Type=Application
Icon=dogecoin128
MimeType=x-scheme-handler/dogecoin;
Categories=Office;Finance;
